<div class="adminContainer">
	<%= link_to("Manage Authors", 'authors') %><br>
	<%= link_to("Manage Articles", 'articles') %><br>
	<%= link_to("Manage Event Days", 'event_days') %><br>
	<%= link_to("Logout", "/logout") %>
</div>
