/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body
 {
 	background-color: #424242;
 	color: white;
 	font-family: eurostile;
 }
 .logobox
 {
 	display:block;
 	width: 1000px;
 	height:auto;
 	margin-left:auto;
 	margin-right:auto;
 }
 .logo
 {
 	height: 120px;
 }
 .main
 {
 	display:block;
 	width: 1350px;
 	background-color: #9DEBE9;
 	height:auto;
 	margin-left:auto;
 	margin-right:auto;
 }
 .sideBlock
 {
	display: block;
	float: left;
	height: 460px;
	width: 200px;
	margin-top:34px;
	overflow: hidden;
	background-color: #9DEBE9;
 }
 .ajani
 {
 	text-align:right;
 }
 .garruk
 {
 	text-align:left;
 }
 .content
 {
 	display:block;
 	float:left;
 	background-color: white;
 	width:950px;
 	color: black;
 }
 .navBar
 {
	display: block;
	width: 1000px;
	height: 30px;
 }
 .navButton
 {
	display: block;
	float: left;
	width: 250px;
	height: 26px;
	text-align: center;
	color:black;
	font-weight: bold;
	padding-top: 8px;
	color: #444444;
	border-bottom: 1px solid #9DEBE9;
 }
 .sideBlockImage
 {
	display:inline-block;
	width: 400px;
 }

